* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

body {
  font-size: 100%;
  width: 100%;
  font-family: "brandon-grotesque",sans-serif;
  opacity: 0;
  overflow-x: hidden; }
  body.loaded {
    opacity: 1;
    transition: all 0.5s ease; }
  body.lock-body {
    overflow: hidden; }
  @media screen and (min-width: 1200px) {
    body {
      position: fixed;
      overflow: hidden; } }

html, body {
  position: relative;
  height: 100%; }
  html.project-open, body.project-open {
    overflow: hidden; }

#menu-canvas {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1; }
  #menu-canvas.menu-open {
    z-index: 10; }

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

@media screen and (min-width: 720px) {
  .description-wrap {
    font-size: 25px; } }
.description-wrap .copy {
  color: #dad9d9; }
  .description-wrap .copy a {
    color: #8ebfba;
    text-decoration: underline; }

canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  opacity: 0.5; }

header {
  position: relative;
  z-index: 1000;
  padding: 50px; }
  header h1 {
    position: fixed;
    padding: 15px;
    background: #333;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    transform: scale(0.1);
    border: solid 1px #333; }
    header h1.loaded {
      transition: all 1s ease-in;
      transform: scale(1); }
    @media screen and (min-width: 720px) {
      header h1:hover {
        cursor: pointer;
        color: #333;
        background: #fff;
        box-shadow: 0px 0px 10px transparent;
        transition: all 0.5s ease; } }
  header nav {
    position: fixed;
    top: 50vh; }
  header .link {
    overflow: hidden; }
    header .link a {
      position: relative;
      top: 100px;
      z-index: -1;
      -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
      transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
      font-size: 20px;
      text-transform: uppercase;
      color: #333; }
    header .link.menu-open a {
      top: 0;
      z-index: 9;
      -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
      transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }

#intro {
  height: 100vh;
  width: 100%;
  background: #FCFCFF;
  position: fixed;
  top: 0; }

.intro-content {
  max-width: 400px;
  padding-left: 50px;
  position: absolute;
  bottom: 100px; }
  @media screen and (max-width: 720px) {
    .intro-content {
      max-width: 280px; } }

.projects {
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 2; }
  .projects .project {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: #4F6572; }
    .projects .project .project-container {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      position: relative;
      transform: translateY(-50%); }
      .projects .project .project-container img {
        width: 50vw; }
        @media screen and (max-width: 720px) {
          .projects .project .project-container img {
            width: 70vw; } }
      .projects .project .project-container .project-name {
        font-size: 40px;
        color: white;
        padding: 10px;
        position: relative;
        transform: translate3d(0, 100px, 0);
        -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }
      .projects .project .project-container .title-container {
        overflow: hidden;
        position: absolute;
        left: -10%;
        top: 50%;
        transform: translateY(-50%); }
      .projects .project .project-container:hover .project-name {
        transform: translate3d(0, 0px, 0);
        -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }

#project-page {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  transition: all 0.5s ease-in;
  opacity: 0; }
  #project-page.project-open {
    z-index: 2;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: all 1s ease; }
    @media screen and (max-width: 720px) {
      #project-page.project-open {
        overflow-y: scroll; } }
  #project-page #project-content {
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0; }
    #project-page #project-content #project-description {
      position: relative;
      width: 100%;
      background: #4F6572;
      text-align: center; }
      #project-page #project-content #project-description .description-wrap {
        min-height: 100vh;
        position: relative;
        display: flex;
        align-items: center; }
      #project-page #project-content #project-description .copy {
        max-width: 50vw;
        margin: 0 auto; }
    #project-page #project-content #project-title {
      height: 100vh;
      width: 100%; }
      #project-page #project-content #project-title .project-title {
        position: relative;
        top: 50%;
        left: 50px;
        font-size: 40px;
        text-transform: uppercase; }
    #project-page #project-content .media-images {
      background: #4F6572;
      width: 100vw;
      margin: 0 auto;
      padding-bottom: 40px; }
      #project-page #project-content .media-images .media-image {
        margin-bottom: 50px; }
      #project-page #project-content .media-images img {
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
  #project-page .decorator {
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed; }
    #project-page .decorator .slit {
      position: relative;
      width: 100%;
      overflow: hidden; }
      #project-page .decorator .slit .panel {
        height: 100vh;
        -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }
        #project-page .decorator .slit .panel .project-image {
          height: 100%; }

iframe {
  width: 100%;
  height: 70vh;
  border: none; }

/*# sourceMappingURL=main.css.map */
